# EditorConfig is awesome: http://EditorConfig.org

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,json}]
charset = utf-8

[*.js]
indent_style = space
indent_size = 4

[package.json]
indent_style = space
indent_size = 4